HOST=0.0.0.0
PORT=8000
BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=youremail@gmail.com
SMTP_PASS=your16charAppPassword
NVIDIA_API_KEY=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
AVAL_API_KEY=aa-5e3blzuXqJFyYbfpJjKc4knCaRXvBbVVIYMQabB0gQqfySQq
